<div class="container">

  <form (ngSubmit)="send()">
    <div class="row">
      <div class="col text-center">
        <label class="h2">Form</label>
      </div>
    </div>
  
    <div class="row pt-2">
      <div class="col-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" name="externalUser" [(ngModel)]="data.externalUser">
      </div>
    </div>
  
    <div class="row pt-2">
      <div class="col-4"></div>
      <div class="col-4 d-grid gap-2">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>

  {{data | json}}

</div>